
# === BASE CONFIG (NO TOCAR) ===
--extra-index-url https://download.pytorch.org/whl/cu121
--find-links https://shi-labs.com/natten/wheels/
--trusted-host shi-labs.com

# === CRITICAL VERSIONS (GPU T4) ===
torch==2.4.0
torchvision==0.19.0
natten==0.17.1+torch240cu121
numpy<2.0.0
gradio==3.50.2

# === DETECTED AUTOMATICALLY (Merged) ===
accelerate
bpy
dctorch
einops
flash_attn
gloss
hjson
huggingface_hub
jsonmerge
mathutils
matplotlib
mediapipe
opencv_contrib_python
opencv_python
opencv_python_headless
Pillow
plotly
safetensors
scipy
spaces
torchdiffeq
torchsde
tqdm
trimesh
wandb
xformers
clean-fid
